<nav>
	<ul>
		<li><a href="/r" class="{% if page.url contains 'r' %}current{% endif %}">R</a></li>
		<li><a href="/rstudio" class="{% if page.url contains 'rstudio' %}current{% endif %}">RStudio</a></li>
		<li><a href="/github" class="{% if page.url contains 'github' %}current{% endif %}">Github</a></li>
		<li><a href="/research" class="{% if page.url contains 'research' %}current{% endif %}">Research</a></li>
		<li><a href="/blog" class="{% if page.url contains 'blog' %}current{% endif %}">Blog</a></li>
		<li><a href="/about" class="{% if page.url contains 'about' %}current{% endif %}">About</a></li>
	</ul>
</nav>
